.boton-grafico {

    width: 100%;
    height: 10vh;
    background: linear-gradient(to top, rgb(231, 231, 232), rgb(172, 172, 172));
    margin-bottom: 2vh;

    text-align: center;
    align-content: center;
    font-size: 2.2rem;
    cursor: pointer;
}

.boton-grafico:hover {


    background: linear-gradient(to top, rgb(167, 167, 244), rgb(110, 84, 241));


}



@media(min-width: 791px) {

    .tamano_secciones_graficos {
        width: 40%;
        height: auto;
        padding: 2%;
        border: 2px solid black;
    }

    #graficos_charts {

        float: left;

    }

    #graficos_google {

        float: right;


    }

}

@media(max-width: 790px) {

    .tamano_secciones_graficos {
        width: 90%;
        height: auto;
        padding: 2%;
        border: 2px solid black;
        margin: 2%;
    }


}